a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.separator-top {
  margin-top: 35px;
}

.np {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.np-top {
  padding-top: 0 !important;
}

.nb-bot {
  padding-bottom: 0 !important;
}

.np-left {
  padding-left: 0 !important;
}

.np-right {
  padding-right: 0 !important;
}

.nb {
  border: none !important;
}
